*{
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
header{
    background-image: url("../areyouin.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.menu{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid;
    border-bottom-color: #0062C4;
    height: 95px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
}
.opcoes li{
    display: inline-block;
    list-style: none;
    padding: 55px 25px 10px 10px;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 2px 2px 4px #000000;
}

.centralizado{
	width:800px;
	position:absolute;
	left: calc(50% - 400px);
    text-align: center;
}

.logo img{
    width: 100px;
    float: left;
    margin: 10px;
}

/*.mySlides {
    display:none;
}

.demo {cursor:pointer}
*/

/*FIM DO HEADER*/
/*CORPO*/

.servicos{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.servicoIcone{
    width: 300px;
    height: 300px;
}

.clientes{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.clientLogo{
    width: 150px;
    height: 150px;
}

/* FIM DO CORPO */

/* FOOTER */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: black;
}
.footerContainer {
    margin-left: 15px;
    width: auto;
    padding: 15px 15px;
}
.footerContatos {
    list-style: none;
    color: rgba(255, 255, 255, 0.5)
}

.id{
    padding-top: 11px;
}

/* FIM DO FOOTER */

/* EQUIPE */

}
.alcateia{
    text-align: center;
}

.alcateia .container{
    margin: 0px;
    width: 100%;
    background-color: black;
}
.titleAlcateia{
    color: #F2F2F2;
    text-align: center;
}
.fotoAlc{
    width: 100%;
}
.sobreAlcateia{
    color: #F2F2F2;
    text-align: left;
}

.lobos{
    text-align: center;
    background-color: black;
    color: #F2F2F2;
}
.fotoLobo{
    width: 100px;
    height: 100px;
    border-radius: 100%; 
}
/*.containerLobo{
    background-color: grey;
    border-radius: 5px;
}
*/
/* FIM EQUIPE */

/* SOBRE */ 


.quemSomos{
    margin-top: 10px;
    text-align: center;
}

.quemSomos .row{
    margin: 0px;
}

.fotoIC{
    width: 100%;
}
.sobreIN{
    text-align: left;
}
.containerDiretrizes{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    width: 100%;
    background-color: #F2F2F2;
}
.headerDiretrizes{
    color: #70ACE5;
}
/* FIM SOBRE */