*{
    padding: 0;
    margin: 0;
}

header{
    background-image: url("bg.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

#navbarTopo{
    width: 1100px;
    margin: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 25px;
    height: 100px;
    /*background-color: rgba(255, 255, 255, 0.1);*/
}

.logo{
    float: left;
}

.navbarDireita{
    list-style: none;
    float: right;
}

.navbarDireita li{
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    color: white;
}

.transparenciaFundo{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Helvetica';
    background-color: rgba(135, 196, 202, 0.1);
}

.introHome{  
    text-align: center;
    position: absolute;
    width: 800px;
    height: 200px;
    left: calc(50% - 400px);
    top: calc(50% - 100px);
}

.introHome h1{
    margin: 20px;
    font-size: 50px;
    color: white;

}

.introHome h3{
    margin: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);

}

.introHome a{
    background-color: #3A959E;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease-out 0s;
}
.introHome a:hover{
    background-color: transparent;
    border-left: 5px solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: all 0.2s ease-out 0s;
}

#paddingSection{
    padding-top: 50px;
    padding-bottom: 90px;
}

.clear{
    clear: both;
}

.introSection{  
    text-align: center;
    position: relative;
    width: 900px;
    left: calc(50% - 450px);
}
.introSection h2{
    margin: 20px;
    font-size: 40px;
    color: black;
}

.introSection h3{
    margin: 20px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);

}
.secoes{
    float: left;
    width: 33.33%;
    text-align: center;
}


.secoes a{
    background-color: #3A959E;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease-out 0s;
}
.secoes a:hover{
    background-color: transparent;
    border-left: 5px solid black;
    color: black;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: all 0.2s ease-out 0s;
}
.secoes p{
    margin: 50px;
}

#paddingPreFooter{
    padding-top: 50px;
    padding-bottom: 90px;
    background-color: #3A959E;
}

.clear{
    clear: both;
}

.preFooter{  
    text-align: center;
    position: relative;
    width: 800px;
    left: calc(50% - 400px);
}
.preFooter h2{
    margin: 20px;
    font-size: 40px;
    color: white;
}

.preFooter h3{
    margin: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
}

.preFooterSection{
    text-align: center;
}
.preFooterSection p{
    margin: 50px 100px 50px 100px;
    color: white;
}

.preFooterSection a{
    background-color: white;
    padding: 20px;
    color: #3A959E;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease-out 0s;
}

.preFooterSection a:hover{
    background-color: transparent;
    border-left: 5px solid white;
    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: all 0.2s ease-out 0s;
}

footer{
    background-color: black;
    color: white;
    padding: 100px;
    text-align: center;
}